$banner-width: 300px;
$banner-height: 250px;

@import "../../../styles/main";


#wrapper {
    .absolute-position {
        position: absolute;
    }

    // main banner styles
    #main-panel {
        border: 1px solid #707070;
        background-color: $primary-color;
        height: $banner-height;
        width: $banner-width;
    }

    // Pi
    .pi{
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        background-color: white;
        border-left: 1px solid #cccccc;
        width: 100%;
        right: 0;
        bottom: 0;
        padding: 0px 0 5px 15px;
        color: #00205b;
        font-weight: bold;
        font-size: 10px;
        display: block;
        text-align: left;
    }
}

// ISI styles
#isi-main {
    width: 100%;
    height: 128px;
    background-color: #fff;
    left: 0px;
    top: 106px;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    z-index: 0;

    * {
        pointer-events: all;
    }

    header {
        margin: 0;
        width: 95%;
        top: -2px;
            p {
            color: #00205b;
            font-size: 10px;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 17px 0 0 15px;
        }
    }

    #copy-header {
        border: 1px solid #000;
        padding: 2.5px;
    }


}

#isi_wrapper {
    background-color: #fff;
    height: 90px!important;
    // min-width: 286px;
    width: 100%;
    display: block;
    z-index: 3000;
    overflow: hidden;
}

.iScrollVerticalScrollbar {
    background-color: #daddeb;
    top: 0 !important;
    right: 13px !important;
    height: 95%!important;
    width: 3px !important;
    position: absolute;
    z-index: 9999;
    overflow: visible !important;
}

.iScrollIndicator {
    width: 3px !important;
    height: 7px !important;
    margin-top: 0;
    right: 0 !important;
    position: absolute;
    background: #003e7e;
    cursor: pointer;
    display: block !important;
}

#isi {
    width: 269px;
    padding-left: 15px;
    padding-bottom: 20px;

    h2 {
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #00205b;
        margin: 0;
    }

    p {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1em;
        margin: 0 0 6px 0;
    }

    .references {
        font-size: 10px;
    }

    .footer {
        position: relative;

        p {
            font-size: 10px;
        }

        .pfizer-logo{
            position: absolute;
            bottom: -6px;
            right: 2px;

            img {
                position: static;
            }
        }
    }

   .urlIsi {
        color: #000;
        font-size: 9px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
   }
}

// Extend style for ISI clone
#isi-clone {
    @extend #isi;
    &.uat {
        left: 400px;
        top: 0;

        .legal-section {
            height: auto;
            width: 318px;
        }
    }
}
