extends ../../../pug/layout
block title
	title LYRICA DPN CTE Mobile Banner
block metaSize
	meta(name="ad.size", content='width=300,height=50')

block content
	#wrapper.centered-layout
		#main-panel
				img.animation-placeholder.absolute-position(src="images/placeholder.png" style="top:40px;left:20px;")
				#isi-main
					header
						p
							| Scroll for Important Safety Information and Indications
					#isi_wrapper
						#isi
							h2 IMPORTANT SAFETY INFORMATION
							p LYRICA is contraindicated in patients with known hypersensitivity to pregabalin or any of its other components. Angioedema and hypersensitivity reactions have occurred in patients receiving pregabalin therapy.

							p There have been postmarketing reports of hypersensitivity in patients shortly after initiation of treatment with LYRICA. Adverse reactions included skin redness, blisters, hives, rash, dyspnea, and wheezing. Discontinue LYRICA immediately in patients with these symptoms.
							p There have been postmarketing reports of angioedema in patients during initial and chronic treatment with LYRICA. Specific symptoms included swelling of the face, mouth (tongue, lips, and gums), and neck (throat and larynx). There were reports of life-threatening angioedema with respiratory compromise requiring emergency treatment. Discontinue LYRICA immediately in patients with these symptoms.
							p Antiepileptic drugs (AEDs) including LYRICA increase the risk of suicidal thoughts or behavior in patients taking AEDs for any indication. Monitor patients treated with any AED for any indication for the emergence or worsening of depression, suicidal thoughts or behavior, and/or any unusual changes in mood or behavior. Pooled analyses showed clinical trial patients taking an AED had approximately twice the risk of suicidal thoughts or behavior than placebo-treated patients. The estimated incidence rate of suicidal behavior or ideation among 27,863 AED-treated patients was 0.43%, compared to 0.24% among 16,029 placebo-treated patients, representing an increase of approximately one patient for every 530 patients treated with an AED.
							p The most common adverse reactions across all LYRICA clinical trials are dizziness, somnolence, dry mouth, edema, blurred vision, weight gain, constipation, euphoric mood, balance disorder, increased appetite, and thinking abnormal (primarily difficulty with concentration/attention).
							p Inform patients taking LYRICA that dizziness and somnolence may impair their ability to perform potentially hazardous tasks such as driving or operating complex machinery until they have sufficient experience with LYRICA to determine its effect on cognitive and motor function.
							p In controlled studies, a higher proportion of patients treated with LYRICA reported blurred vision (7%) than did patients treated with placebo (2%), which resolved in a majority of cases with continued dosing. Consider more frequent assessment for patients who are already routinely monitored for ocular conditions.
							p Higher frequency of weight gain and edema was observed in patients taking both LYRICA and thiazolidinedione antidiabetic drugs. Exercise caution when coadministering these drugs. Patients who are taking other drugs associated with angioedema such as angiotensin-converting enzyme inhibitors (ACE inhibitors) may be at increased risk of developing angioedema. Exercise caution when using LYRICA in patients who have had a previous episode of angioedema.
							p Advise nursing mothers that breastfeeding is not recommended during treatment with LYRICA.
							p LYRICA may exacerbate the effects of oxycodone, lorazepam, or ethanol on cognitive and gross motor functioning.
							p Patients with a history of drug or alcohol abuse may have a higher chance of misuse or abuse of LYRICA.
							p Withdraw LYRICA gradually over a minimum of 1 week. Discontinue LYRICA immediately in patients with symptoms of hypersensitivity or angioedema.
							p Patients with a creatinine clearance of 30 to 60 mL/min had a greater incidence of discontinuation due to adverse reactions than patients with normal creatinine clearance. Adjust the daily dose of LYRICA for patients with reduced renal function (creatinine clearance ≤60 mL/min) and in those undergoing hemodialysis. Administer a supplemental dose of LYRICA immediately following every 4-hour hemodialysis treatment.
							p In standard, preclinical in vivo lifetime carcinogenicity studies of LYRICA, an unexpectedly high incidence of hemangiosarcoma was identified in 2 different strains of mice. The clinical significance of this finding is unknown. In clinical studies across various patient populations comprising 6396 patient-years of exposure in patients &gt;12 years of age, new or worsening preexisting tumors were reported in 57 patients.
							h2 INDICATIONS
							p LYRICA is indicated for the management of neuropathic pain associated with diabetic peripheral neuropathy, management of postherpetic neuralgia, as adjunctive therapy for adult patients with partial onset seizures, management of fibromyalgia and management of neuropathic pain associated with spinal cord injury.
							h2#study-description STUDY DESCRIPTION
							p
								strong Adapted from Rosenstock et al. <em>Pain.</em> 2004<sup>1</sup>; Pfizer data on file.<sup>2</sup>
							p Results from a randomized, double-blind, placebo-controlled, multicenter study conducted in 2 phases: baseline (1 week) and a double-blind treatment phase (8 weeks). Patients (N=146) had moderate to severe DPN pain (≥4 on a 0 to 10 scale) and were required to have a visual analog scale (VAS) score ≥40 mm to be eligible for the double-blind treatment phase. At the end of the baseline phase, eligible patients received LYRICA 300 mg/day divided TID or placebo. Medications that could affect painful symptoms of DPN were prohibited, with the exception of acetaminophen (up to 4 g/day), aspirin (up to 325 mg/day for myocardial infarction or transient ischemic attack prophylaxis), and serotonin reuptake inhibitors (provided no dose changes occurred within 30 days prior to randomization or during the study).
							p The primary efficacy measure was mean pain score at endpoint, defined as the mean of the last 7 daily self-assessments entered into the patient's daily pain diary. For this analysis, pain was assessed on an 11-point scale: 0=no pain; 1-3=mild pain; 4-6=moderate pain; 7-10=severe pain. Mean pain scores for LYRICA and placebo were, respectively: 6.5 and 6.1 at baseline; 4.3 and 5.9 at Week 1; and 4.0 and 5.3 at endpoint.

							p.references
								strong References: 1.
								| Rosenstock J, Tuchman M, LaMoreaux L, Sharma U. Pregabalin for the treatment of painful diabetic peripheral neuropathy: a double-blind, placebo-controlled trial. <em>Pain</em>. 2004;110(3):628-638. <strong>2</strong>. Data on file. Pfizer Inc, New York, NY.
							.footer
								p PP-LYR-USA-1914<br/>© 2017 Pfizer Inc.   All rights reserved.   June 2017
								.pfizer-logo
									img(src="images/pfizer-logo.jpg", alt="Pfizer Logo")
				a(href="#").pi Full Prescribing Information and Medication Guide